# Database
DATABASE_URL=postgresql://postgres@localhost/payments_alpha_development

# GLiMR API Location
GLIMR_API_URL=[URL of the GLiMR API]

# Whether or not to post payment success to GLiMR
#  (turning this off means you can test payment for the same liability
#   over and over again. Anything non-falsy means it's on).
UPDATE_GLIMR=true

# GOV.UK Pay
GOVUK_PAY_API_URL=https://publicapi.payments.service.gov.uk/v1
GOVUK_PAY_API_HEALTHCHECK_URL=https://publicapi.payments.service.gov.uk/healthcheck
GOVUK_PAY_API_KEY=[gov.uk pay API key]

EXTERNAL_URL=http://localhost:3000
